[Unit]
Description=Hesai
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi
ExecStart=/home/pi/ros2_ws/start-ros-hesai.sh
Restart=on-failure
RestartSec=5
Environment=RCUTILS_LOGGING_BUFFERED_STREAM=1

[Install]
WantedBy=multi-user.target

